<div class="link-wrapper">
  <style scoped>
    ul.link a {
      color: var(--clr-h1-and-bold);
      text-decoration: none;
    }

    ul.link a:hover,
    a:focus {
      color: var(--clr-a-text-hvr);
    }
  </style>
  <ul class="link">
    {%- for platform in site.sidebar %}
    <li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
    {%- endfor %}
  </ul>
</div>

{% if site.nav %}
<hr style="border:none; border-top:1px solid var(--border-color, #ddd); margin:0.8em 0;">
<nav>
  <ul style="list-style:none; padding:0; margin:0;">
    {% for item in site.nav %}
      <li style="margin: 0.35em 0;">
        <a href="{{ item.link }}" style="text-decoration:none; font-size:0.85em;">
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}